# Introduction to Python

### '**print**' away üñ®

- a (built-in) python function that displays the value passed to it

In [13]:
print("Hello, World!")

Hello, World!

In [14]:
print(1+2)

3

In [15]:
print(((1+3)*(9-2)/2)**2)

196.0

### '**help**' üôè

- to understand the built-in function in Python

In [16]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

# Arithmetic Operations

Operation|Symbol|
--|--
Addition|+
Subtraction|-
Multiplication|*
Division|/
Exponent|**

Use **Comments** to annotate what the code is doing with the hash symbol **#**.

In [17]:
# Divide 4 by 2; exponent; multiply

print(4/2)
print (4**2)
print (4*2)

2.0
16
8

# Variables

In [18]:
# To create a variable, need to use '=' to assign a value 

var_test = 4/2

# To know the value that has been assigned to the variable 
# use 'print()' 
# and put the name of the variable in the bracket. 

print(var_test)

2.0

## Changing Value of the Variable 
(Manipulating a Variable)

In [19]:
# Recall var_test 
print(var_test)

# Change the value/ re-assign 
var_test = 50

2.0

If we will again print the value of var_test anytime again in the code, it will only give the latest assigned value.

In [20]:
# Print the newly assigned value

print(var_test)

50

### Increase the Value of the Variable

In [21]:
var_test = var_test + 10

# print to see the change in the value of the variable 
print(var_test)

60

# Functions ü§ñ

Lots of built-in functions but we sometimes still need to define our own functions to cater to our needs. 

**Function** is a **block of code** that is designed to perform a specific task. 

Function helps us do same calculation multiple times without repeating the same code again and again.



1.   Define the function
2.   Header
3.   Body

In [22]:
# Simple Example 

def add_ten(input_var):
    output_var = input_var + 10 
    return output_var

### Header- specifies the name of the function and its arguments

    def add_ten(input_var):

### Body- specifies the work that the function does

    output_var = input_var + 10
    return output_var

  Every line of code in the function of the body must be indented. 

  You can do this by hitting the "Tab" button. 
  
  For example, 

    def add_ten(input_var):
        output_var = input_var + 10 # This is indented.

Components of a Function | Purpose
-|-
def        | the keyword tells Python we are about to **def**ine a function
-|-
add_ten    | name of the function that we want to define 
-|-
input_var  | function's argument 
-| Note: a function can have no arguments or it can have multiple arguments
-| The brackets enclosing the function argument(s) must be followed by a colon ":"
return     | keyword that tells Python that we are about to exit the function
-|-
output_var | value that is returned when the function is exited

### How it works 


The function does its work by running all of the indented lines from top to bottom.  
*   It takes the argument as input, which in the example is input_var.
*   The function creates a new variable output_var with the calculation output_var = input_var + 10.
*  Then, the final line of code, called the return statement, just returns the value in output_var as the function's output

### How to run (or "call") a function



*   We run the function defined as add_ten with an input value say 3.
*   We define a new variable say new_var which is set equal to the output of the function.

In [23]:
# Running the function add_ten with the input say 3

new_var = add_ten(3)

# Check the output. 
print(new_var) # Is it same as expected?

13

### Behind the Scenes
*   The function does its work by running all of the indented lines from top to bottom.


*   It takes the argument as input, which in the example is input_var.


*   The function creates a new variable output_var with the calculation output_var = input_var + 10.


*   Then, the final line of code, called the return statement, just returns the value in output_var as the function's output.

Further details, 
*   **add_ten(3)** is the value that we get as output when we supply 3 as the value for input_var and call the add_ten() function.


*   When the function runs, it runs all of the code in its body, from top to bottom:

    * It first calculates output_var = input_var + 3, which sets output_var = 13.
    * The final line of code is the return statement, which returns the value of output_var, which is 13.
    * By setting **new_number = add_ten(3)**, we set **new_number = 13**.

## Naming Functions



Use only **lowercase** letters, with words separated by **underscores** instead of spaces.

## Variable "scope"

Variables defined inside the function body **cannot be accessed outside** of the function.

In [24]:
# Using earlier example 

def add_ten(input_var):

     # Docstring: triple quoted statement that comes immediately 
     # after the header of a function. 
     # We can call help on our function as well.
     # help(add_ten) will display the docstring 
    """ Returns the input number after adding 10 to it"""

    output_var = input_var + 10

    return output_var

output_var

# This is because output_var only exists within the function

NameError: name 'output_var' is not defined

Therefore,

1. Variables defined *inside a function* have a **local scope** of that function only. 

2. Variables defined *outside all functions* have a **global scope** and can be accessed anywhere.

## Functions with Multiple Arguments

In [25]:
def add_ten2(input1_var, input2_var ):
    output_var = input1_var + input2_var*10 
    return output_var

In [26]:
add_ten2(3, 2)

23

## Functions with No Arguments

Functions with no arguments and don't have a return statement.

In [27]:
def say_hello():
    print("Hello world!")

# Call the function 

say_hello()

Hello world!

# Data Types

Data Types: 
1. Integers
2. Floats 
3. Booleans 
4. Strings

Verify data type with:

    type()

    print(type()) # That's how we use it.

### Integer

In [28]:
x = 2

print(type(x))

<class 'int'>

### Floats

are numbers with fractional parts. 

They can have many digits after decimal.

In [29]:
pi = 3.141592653

print(type(pi))

<class 'float'>

In [30]:
# Round the number 

## Let's say to two decimal places
rounded = round(pi, 2)

print(type(rounded))
print(rounded)

<class 'float'>
3.14

Python recognizes a number written with a decimal point as a float data type.

In [31]:
y = 1.00

print(type(y))

<class 'float'>

### Booleans

Represents one of two values: 

True or False

In [32]:
var_one = True 

print(var_one)

print(type(var_one))

True
<class 'bool'>

In [33]:
var_two = False

print(var_two)

print(type(var_two))

False
<class 'bool'>

Booleans are used to represent the truth value of an expression. 

If a statement is true, then it takes the value 'True'.

In [34]:
var_three = (2 < 4)

print(var_three)

print(type(var_three))

True
<class 'bool'>

In [35]:
var_four = (3 < 1)

print(var_four)

print(type(var_four))

False
<class 'bool'>

Switch the value of a boolean by using 'not'.

In [36]:
var_five = not var_three

print(var_five)

print(type(var_five))

False
<class 'bool'>

**Booleans play an important role in conditions and conditional statements.**

### Strings

Collection of characters:

like alphabet letters, punctuation, numerical digits, or symbols

contained in quotation marks

In [37]:
world = "Hello world!"

print(world)
print(type(world))

Hello world!
<class 'str'>

**Length of a string** is an often important requirement.

**len()**

-- includes space, comma and exclamation mark. 

-- quotation marks are not included in the calculation.

In [38]:
print(len(world))

12

Special String: 

Empty string --> **Zero Length**

In [39]:
empty_string = ""
print(type(empty_string))
print(len(empty_string))

<class 'str'>
0

Anything put within quotation marks has a string data type even if it's a number.

In [40]:
number_string = "2.345"
print(number_string)
print(type(number_string))

2.345
<class 'str'>

We can **covert a number stored as a string** to a numerical data type such as float.

In [41]:
number_float = float(number_string)
print(number_float)
print(type(number_float))

2.345
<class 'float'>

Add two strings!!

In [42]:
sum_string = "sun" + "screen"
print(sum_string)
print(type(sum_string))

sunscreen
<class 'str'>

Multiplying a string with an integer.

In [43]:
multiple_string = "Blah "*3
print(multiple_string)
print(type(multiple_string))

Blah Blah Blah
<class 'str'>

# Conditions and Conditional Statements
- Modifying the functions

- Writing more **advanced functions** where the output of the function depends on different conditions.

## Conditions

In [44]:
# Simple Example: 
# Comparing two values is a condition 

print(1>2)

False

In [45]:
# Comparing the values of variables

var_one = 1 
var_two = 2

print(var_one >=1)
print(var_two <2)

True
False

Common Symbols used to construct conditions

Symbol|Meaning
--|--
==| equals
!=| does not equal
<| less than 
<=| less than or equal to 
>| greater than 
>=| greater than or equal to

**Note**: 

'==' is used to check whether the values are equal.

'=' is used to set the value e.g., for a variable.

## Conditional Statement 

A conditional statement uses conditions to modify a function.

They check the value of a condition, if the value is 'True' then a specific block of code runs. If the value is 'False', then that piece of code does not run.

## **'if'** statement

In [46]:
def ice_water(temp):
  # Set an initial
  message = "Ice is solid."
  # Update the value of the initial only 
  # if the following condition is satisfied

  if temp > 0:
    message = "Ice starts melting!"

  return message

In [47]:
print(ice_water(-3))

Ice is solid.

In [48]:
print(ice_water(1))

Ice starts melting!

*Indentation*

1. First indentation is to include the **code block inside a function**.
2. Second indentation is with respect to the **"if" statement**.

## **if... else** statements

- The code under the 'if' statement is run if the statement is True.
- The code under the 'else' statement is run if the statement is False.

In [49]:
def ice_water_else(temp):
  if temp > 0:
    message = "Ice starts melting!"
  else: 
    message = "Ice is solid."
  
  return message

In [50]:
print(ice_water_else(-4))

Ice is solid.

In [51]:
print(ice_water_else(2))

Ice starts melting!

## **"if...elif...else"** statements

- elif is short for "else if" to check if multiple conditions might be true.

In [52]:
def ice_water_boiling_elif(temp):
  if temp > 100:
    message = "Water is boiling!!"
  elif temp > 0: 
    message = "Ice starts melting!"
  else:
    message = "Ice is solid."
  
  return message

- It checks the next condition if the previous condition was false.

In [53]:
print(ice_water_boiling_elif(101))

Water is boiling!!

In [54]:
print(ice_water_boiling_elif(1))

Ice starts melting!

The code under "else" statement would be executed only when both if and elif statements are false.

In [55]:
print(ice_water_boiling_elif(-100))

Ice is solid.

# Intro to Lists

- Python has many data structures to **organise the data**
- Data Structures like lists, sets, dictionaries and tuples.

In [56]:
countries = "India, China, Burma, Sri Lanka, Thailand, Bhutan"

In [57]:
print(type(countries))

<class 'str'>

In [58]:
print(countries)

India, China, Burma, Sri Lanka, Thailand, Bhutan

Better way to represent is using **List** written with the help of [ , ] square brackets.

In [59]:
countries_list = ["India", "China", "Burma", "Sri Lanka", "Thailand", "Bhutan"]

In [60]:
print(type(countries_list))

<class 'list'>

In [61]:
print(countries_list)

['India', 'China', 'Burma', 'Sri Lanka', 'Thailand', 'Bhutan']

A list makes it easier to perform the following tasks:

- get an item at a specified position
- check the number of items 
- add and remove items

**len()**: length

In [62]:
# Using len() to count the number of entries in a list 

print(len(countries_list))

6

**Indexing**: gives position in the list

- first entry in the list, we use '0'
- second entry, we use '1'
- third entry, we use '2'
- final entry, we use 'one less than the length of the list'

In [63]:
print('First entry:', countries_list[0])
print('Second entry:', countries_list[1])
print('Last entry:', countries_list[5])

# Note: To print multiple items in a single command, use comma to separate.

First entry: India
Second entry: China
Last entry: Bhutan

**Slicing**

To take out a specific segment of a list. 

- pull the first 'x' entries, we use [ : x]
- pull the last 'y' entries, we use [ -y : ]

In [64]:
print("First 2 entries:", countries_list[:2])

# starting from index 0 and continuing up to but not including index 2.
# that's how it gives you two entries. 


print("Last 2 entries:", countries_list[-2:])

First 2 entries: ['India', 'China']
Last 2 entries: ['Thailand', 'Bhutan']

**Removing Items**

- remove an item from the list using .remove()

In [65]:
countries_list.remove('Bhutan')
print(countries_list)

['India', 'China', 'Burma', 'Sri Lanka', 'Thailand']

**Adding Items**

- add an item to the list with **.append()**

In [66]:
countries_list.append('United States')

In [67]:
print(countries_list)

['India', 'China', 'Burma', 'Sri Lanka', 'Thailand', 'United States']

**Lists can be with any data type**

In [68]:
lectures_per_day = [5, 3, 1, 4, 2]

In [69]:
print("Length of the list:", len(lectures_per_day))
print('Lectures on 3rd day:', lectures_per_day[2])

Length of the list: 5
Lectures on 3rd day: 1

In [70]:
# Min and Max values 

print("Minimum:", min(lectures_per_day))
print('Maximum:', max(lectures_per_day))

Minimum: 1
Maximum: 5

In [71]:
# Sum up all the items in the list 

print('Total number of lectures in the week:', sum(lectures_per_day))

Total number of lectures in the week: 15

In [72]:
# Perform the arithmetic operations on slices of the list 

print("Average number of lectures in first three days:", sum(lectures_per_day[:3])/3)

# To pull the first 3 entries, we are slicing [:3]

Average number of lectures in first three days: 3.0

Little Exercise for those paying attention üòÄ

In [ ]:
spam_amount = 0
print(spam_amount)

spam_amount = spam_amount + 4

if spam_amount > 0:
    print("But I don't want ANY spam!")

song = "Spam " * spam_amount
print(song)